@model MediLink.Models.Appointment

@{
    ViewData["Title"] = "Book Appointment";
}

<h2>Book Appointment</h2>

<form asp-controller="Appointment" asp-action="Book" method="post">
    @Html.AntiForgeryToken()

    <div class="mb-3">
        <label class="form-label">Appointment Date & Time</label>
        <input name="AppointmentDate"
               type="datetime-local"
               class="form-control"
               required />
    </div>

        <div class="mb-3">
        <label class="form-label">Select Hospital</label>
        <select asp-for="HospitalId"
                asp-items="ViewBag.Hospitals"
                class="form-select">
            <option value="">-- Select Hospital --</option>
        </select>
        <span asp-validation-for="HospitalId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">
        Confirm Appointment
    </button>
</form>
